  {% block styles %}
  <!-- Used by the login -->
    <link href="{{ url_for('static', filename='../static/css/custom/style.css') }}" rel="stylesheet" type="text/css">

    <!-- Page level plugin CSS-->
  <link href="{{ url_for('static', filename='../static/vendor/datatables/dataTables.bootstrap4.css') }}" rel="stylesheet">

    <!-- Custom styles for this template-->
  <link href="{{ url_for('static', filename='../static/css/sb-admin.css') }}" rel="stylesheet">

  <!-- Used by everything else -->
  <!-- Bootstrap Core CSS -->
  <link href="{{ url_for('static', filename='../static/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

  <!-- MetisMenu CSS -->
  <link href="{{ url_for('static', filename='../static/vendor/metisMenu/metisMenu.min.css') }}" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="{{ url_for('static', filename='../static/dist/css/sb-admin-2.css') }}" rel="stylesheet">

  <!-- Morris Charts CSS -->
  <link href="{{ url_for('static', filename='../static/vendor/morrisjs/morris.css') }}" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="{{ url_for('static', filename='../static/vendor/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">

  {% endblock %}


{% block scripts %}  

  <!-- jQuery -->
  <script src="{{ url_for('static', filename='../static/vendor/jquery/jquery.min.js') }}"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="{{ url_for('static', filename='../static/vendor/bootstrap/js/bootstrap.min.js') }}"></script>

  <!-- Metis Menu Plugin JavaScript -->
  <script src="{{ url_for('static', filename='../static/vendor/metisMenu/metisMenu.min.js') }}"></script>

  <!-- Morris Charts JavaScript -->
  <script src="{{ url_for('static', filename='../static/vendor/raphael/raphael.min.js') }}"></script>
  <script src="{{ url_for('static', filename='../static/vendor/morrisjs/morris.min.js') }}"></script>
  <script src="{{ url_for('static', filename='../static/data/morris-data.js') }}"></script>

  <!-- Custom Theme JavaScript -->
  <script src="{{ url_for('static', filename='../static/dist/js/sb-admin-2.js') }}"></script>

  <script src="{{url_for('static', filename='../static/vendor/custom/mastercheck.js')}}"></script>
  {% endblock %}
